# Dependencias
node_modules/
.pnpm-store/

# Archivos de compilación
dist/
build/
*.tsbuildinfo

# Entorno
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Tests
coverage/
.nyc_output/

# NestJS
.nestjs/

# TypeORM
ormconfig.json
ormlogs.log

# Cache y temporales
.cache/
.temp/
.tmp/
*.swp
*.swo